* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    background-image: radial-gradient(
        rgb(2, 161, 167),
        rgb(43, 96, 191),
        rgb(109, 107, 245)
    );
    background-repeat: repeat;
    height: 100vh;
    background-size: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 500px;
    background-color: #F1F5F9;
    border-radius: 10px;
    padding: 20px;
}

h1 {
    background-color: #9051A8;
    color: #F1F5F9;
    text-align: center;
    border-radius: 10px 10px 0 0;
    border-bottom: solid #5365A4;
    padding: 5px 0;
}

select, input, textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 20px;
}

textarea {
    height: 150px;
}

div {
    display: flex;
    justify-content:space-evenly;
}

div button {
    background-color: #9051A8;
    color: #F1F5F9;
    font-size: 20px;
    border: 0;
    border-bottom: 5px solid #5365A4;
    padding: 15px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 8px;
}


div button:active {
    top: 2px;
}